In [1]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import ast
import json
import re
from collections import defaultdict
from sklearn.cluster import KMeans
from sklearn.metrics import pairwise_distances_argmin_min
from sklearn.metrics import silhouette_score

from rdkit import Chem
from rdkit.Chem import Descriptors
from rdkit.Chem import rdMolDescriptors
import requests
import time

from bs4 import BeautifulSoup
from scipy.sparse import csr_matrix
from sklearn.preprocessing import LabelEncoder

In [97]:
ingredients_df = pd.read_csv('data/recipes.csv')
ingredients_df = pd.DataFrame(ingredients_df)

In [98]:
# Load the data
comp_path = 'data/flavor_network_data/ingr_comp/comp_info.tsv'
comp_tsv = pd.read_csv(comp_path, delimiter='\t')

comp_df = pd.DataFrame(data = comp_tsv)
comp_columns = ['compound_id', 'compound_name', 'CAS_number']
comp_df.columns = comp_columns

ingr_path = 'data/flavor_network_data/ingr_comp/ingr_info.tsv'
ingr_tsv = pd.read_csv(ingr_path, delimiter='\t')

ingr_df = pd.DataFrame(data = ingr_tsv)
ingr_columns = ['ingredient_id', 'ingredient_name', 'ingredient_category']
ingr_df.columns = ingr_columns

ingr_comp_pathh = 'data/flavor_network_data/ingr_comp/ingr_comp.tsv'
ingr_comp_tsv = pd.read_csv(ingr_comp_pathh, delimiter='\t')

ingr_comp_df = pd.DataFrame(data = ingr_comp_tsv)
ingr_comp_df.rename(columns={
    '# ingredient id': 'ingredient_id',
    'compound id': 'compound_id'
}, inplace=True)

In [99]:
flav_edges_path = 'data/flavor_network_data/flavor_network_backbone/flavor_network_backbone_edges.tsv'
flav_edges_tsv = pd.read_csv(flav_edges_path, delimiter='\t')

flav_edges_df = pd.DataFrame(data = flav_edges_tsv)
flav_edges_columns = ['ingredient_1', 'ingredient_2', 'number_of_shared_compounds']
flav_edges_df.columns = flav_edges_columns

flav_nodes_path = 'data/flavor_network_data/flavor_network_backbone/flavor_network_backbone_nodes.tsv'
flav_nodes_tsv = pd.read_csv(flav_nodes_path, delimiter='\t')

flav_nodes_df = pd.DataFrame(data = flav_nodes_tsv)
flav_nodes_columns = ['ingredient_name', 'x_coordinate', 'y_coordinate', 'prevalence', 'r', 'g', 'b']
flav_nodes_df.columns = flav_nodes_columns

In [87]:
# Function to replace spaces with underscores
def replace_spaces(value):
    if isinstance(value, str):
        return value.replace(' ', '_')
    return value

In [100]:
ingr_df['ingredient_name'] = ingr_df['ingredient_name'].apply(replace_spaces)
ingr_df['ingredient_category'] = ingr_df['ingredient_category'].apply(replace_spaces)
flav_edges_df['ingredient_1'] = flav_edges_df['ingredient_1'].apply(replace_spaces)
flav_edges_df['ingredient_2'] = flav_edges_df['ingredient_2'].apply(replace_spaces)
flav_nodes_df['ingredient_name'] = flav_nodes_df['ingredient_name'].apply(replace_spaces)

In [101]:
data = {
    'Canada': 'NorthAmerican',
    'Turkey': 'MiddleEastern',
    'east_asian': 'EastAsian',
    'Caribbean': 'LatinAmerican',
    'Bangladesh': 'SouthAsian',
    'chinese': 'EastAsian',
    'mexico': 'LatinAmerican',
    'Lebanon': 'MiddleEastern',
    'japanese': 'EastAsian',
    'North-African': 'African',
    'MiddleEastern': 'MiddleEastern',
    'Indian': 'SouthAsian',
    'asian': 'EastAsian',
    'Italy': 'SouthernEuropean',
    'EasternEuropean_Russian': 'EasternEuropean',
    'Israel': 'MiddleEastern',
    'Korea': 'EastAsian',
    'Iran': 'MiddleEastern',
    'Eastern-Europe': 'EasternEuropean',
    'Jewish': 'MiddleEastern',
    'South-African': 'African',
    'Vietnamese': 'SoutheastAsian',
    'UK-and-Ireland': 'WesternEuropean',
    'French': 'WesternEuropean',
    'Mediterranean': 'SouthernEuropean',
    'Central_SouthAmerican': 'LatinAmerican',
    'Cajun_Creole': 'NorthAmerican',
    'Belgium': 'WesternEuropean',
    'China': 'EastAsian',
    'korean': 'EastAsian',
    'Germany': 'WesternEuropean',
    'South-America': 'LatinAmerican',
    'Spain': 'SouthernEuropean',
    'Netherlands': 'WesternEuropean',
    'Scandinavia': 'NorthernEuropean',
    'Philippines': 'SoutheastAsian',
    'Indonesia': 'SoutheastAsian',
    'East-African': 'African',
    'Scandinavian': 'NorthernEuropean',
    'Greek': 'SouthernEuropean',
    'American': 'NorthAmerican',
    'Vietnam': 'SoutheastAsian',
    'western': 'WesternEuropean',
    'African': 'African',
    'Switzerland': 'WesternEuropean',
    'West-African': 'African',
    'France': 'WesternEuropean',
    'Thai': 'SoutheastAsian',
    'Thailand': 'SoutheastAsian',
    'Italian': 'SouthernEuropean',
    'Pakistan': 'SouthAsian',
    'Irish': 'WesternEuropean',
    'Mexican': 'LatinAmerican',
    'Portugal': 'SouthernEuropean',
    'Chinese': 'EastAsian',
    'Mexico': 'LatinAmerican',
    'German': 'WesternEuropean',
    'Spanish_Portuguese': 'SouthernEuropean',
    'India': 'SouthAsian',
    'Japanese': 'EastAsian',
    'Moroccan': 'African',
    'Southern_SoulFood': 'NorthAmerican',
    'Malaysia': 'SoutheastAsian',
    'Austria': 'WesternEuropean',
    'English_Scottish': 'WesternEuropean',
    'Asian': 'EastAsian',
    'Southwestern': 'NorthAmerican',
    'Japan': 'EastAsian',
    'italian': 'SouthernEuropean',
    'canadian': 'NorthAmerican',
    'eastern_european_russian': 'EasternEuropean',
    'southern_soul_food': 'NorthAmerican',
    'middle_eastern': 'MiddleEastern',
    'central_south_american': 'LatinAmerican',
    'spanish': 'SouthernEuropean',
    'north_african': 'African',
    'portuguese': 'SouthernEuropean',
    'filipino': 'SoutheastAsian',
    'dutch': 'WesternEuropean',
    'iranian': 'MiddleEastern',
    'austrian': 'WesternEuropean',
    'swiss': 'WesternEuropean',
    'pakistani': 'SouthAsian',
    'malaysian': 'SoutheastAsian',
    'south_african': 'African',
    'west_african': 'African',
    'indonesian': 'SoutheastAsian',
    'belgian': 'WesternEuropean',
    'east_african': 'African',
    'israeli': 'MiddleEastern',
    'bangladeshi': 'SouthAsian'
}

mapping = pd.DataFrame(list(data.items()), columns=['country', 'region'])

# Clean the data
mapping['country'] = mapping['country'].str.strip()
mapping['region'] = mapping['region'].str.strip()

# Get unique regions and countries
unique_regions = mapping['region'].unique()
unique_countries = mapping['country'].unique()

regions_countries = mapping.groupby('region')['country'].apply(list).reset_index()

In [78]:
regions_countries.head(10)

             region                                            country
0           African  [North-African, South-African, East-African, A...
1         EastAsian  [east_asian, chinese, japanese, asian, Korea, ...
2   EasternEuropean  [EasternEuropean_Russian, Eastern-Europe, east...
3     LatinAmerican  [Caribbean, mexico, Central_SouthAmerican, Sou...
4     MiddleEastern  [Turkey, Lebanon, MiddleEastern, Israel, Iran,...
5     NorthAmerican  [Canada, Cajun_Creole, American, Southern_Soul...
6  NorthernEuropean                        [Scandinavia, Scandinavian]
7        SouthAsian  [Bangladesh, Indian, Pakistan, India, pakistan...
8    SoutheastAsian  [Vietnamese, Philippines, Indonesia, Vietnam, ...
9  SouthernEuropean  [Italy, Mediterranean, Spain, Greek, Italian, ...

In [102]:
# Define the cuisine mapping with adjectival forms and variations
cuisine_mapping = {
    'vietnamese': ['vietnamese', 'vietnam'],
    'indian': ['indian', 'india'],
    'spanish_portuguese': ['spanish_portuguese'],
    'jewish': ['jewish'],
    'french': ['french', 'france'],
    'central_south_american': ['central_southamerican'],
    'cajun_creole': ['cajun_creole'],
    'thai': ['thai', 'thailand'],
    'scandinavian': ['scandinavian', 'scandinavia'],
    'greek': ['greek'],
    'american': ['american'],
    'african': ['african'],
    'middle_eastern': ['middleeastern', 'middle_eastern', 'turkey', 'iran', 'israel', 'lebanon'],
    'eastern_european_russian': ['easterneuropean_russian', 'eastern-europe', 'russia'],
    'italian': ['italian', 'italy'],
    'irish': ['irish', 'ireland'],
    'mexican': ['mexican', 'mexico'],
    'chinese': ['chinese', 'china'],
    'german': ['german', 'germany'],
    'mediterranean': ['mediterranean'],
    'japanese': ['japanese', 'japan'],
    'moroccan': ['moroccan'],
    'southern_soul_food': ['southern_soulfood'],
    'english_scottish': ['english_scottish', 'uk-and-ireland', 'england', 'scotland'],
    'asian': ['asian'],
    'southwestern': ['southwestern'],
    'east_asian': ['east_asian'],
    'western': ['western'],
    'korean': ['korean', 'korea'],
    'canadian': ['canada'],
    'caribbean': ['caribbean'],
    'bangladeshi': ['bangladesh'],
    'israeli': ['israel'],
    'iranian': ['iran'],
    'south_african': ['south-african'],
    'belgian': ['belgium'],
    'spanish': ['spain'],
    'dutch': ['netherlands'],
    'filipino': ['philippines'],
    'indonesian': ['indonesia'],
    'east_african': ['east-african'],
    'swiss': ['switzerland'],
    'west_african': ['west-african'],
    'north_african': ['north-african'],
    'pakistani': ['pakistan'],
    'portuguese': ['portugal'],
    'malaysian': ['malaysia'],
    'austrian': ['austria']
}

# Reverse the mapping for easier lookup
cuisine_lookup = {alias: cuisine for cuisine, aliases in cuisine_mapping.items() for alias in aliases}



# Create a dictionary from the mapping DataFrame
country_to_region = dict(zip(mapping['country'].str.lower().str.replace(' ', '_'), mapping['region'].str.lower().str.replace(' ', '_')))

# Explicitly format region names
def format_region_name(region):
    if pd.isna(region):
        return 'unknown'
    formatted_region = region.replace('southeastasian', 'south_east_asian') \
        .replace('southasian', 'south_asian') \
        .replace('southerneuropean', 'southern_european') \
        .replace('middleeastern', 'middle_eastern') \
        .replace('westerneuropean', 'western_european') \
        .replace('latinamerican', 'latin_american') \
        .replace('northamerican', 'north_american') \
        .replace('northerneuropean', 'northern_european') \
        .replace('easterneuropean', 'eastern_european') \
        .replace('eastasian', 'east_asian')
    return formatted_region

# Function to standardize country names and map to region
def standardize_and_map_region(country):
    if pd.isna(country):
        return 'unknown', 'unknown'
    country_lower = str(country).lower().replace(' ', '_')
    standardized_country = cuisine_lookup.get(country_lower, country_lower)
    region = country_to_region.get(standardized_country, 'unknown')
    return standardized_country, format_region_name(region)


# Apply the function to create new columns
ingredients_df[['country', 'region']] = ingredients_df['country'].apply(lambda x: pd.Series(standardize_and_map_region(x)))

# Move the 'region' column to the beginning
columns = ['region'] + [col for col in ingredients_df if col != 'region']
ingredients_df = ingredients_df[columns]

In [80]:
ingredients_df['region'].unique()

array(['south_east_asian', 'south_asian', 'southern_european',
       'middle_eastern', 'western_european', 'latin_american',
       'north_american', 'northern_european', 'african',
       'eastern_european', 'east_asian'], dtype=object)

In [104]:
ingredients_df.to_csv('data/ingredients_df.csv', index=False)

In [11]:
''''# Define the cuisine mapping with adjectival forms and variations
cuisine_mapping = {
    'vietnamese': ['vietnamese', 'vietnam'],
    'indian': ['indian', 'india'],
    'spanish_portuguese': ['spanish_portuguese'],
    'jewish': ['jewish'],
    'french': ['french', 'france'],
    'central_south_american': ['central_southamerican'],
    'cajun_creole': ['cajun_creole'],
    'thai': ['thai', 'thailand'],
    'scandinavian': ['scandinavian', 'scandinavia'],
    'greek': ['greek'],
    'american': ['american'],
    'african': ['african'],
    'middle_eastern': ['middleeastern', 'middle_eastern', 'turkey', 'iran', 'israel', 'lebanon'],
    'eastern_european_russian': ['easterneuropean_russian', 'eastern-europe', 'russia'],
    'italian': ['italian', 'italy'],
    'irish': ['irish', 'ireland'],
    'mexican': ['mexican', 'mexico'],
    'chinese': ['chinese', 'china'],
    'german': ['german', 'germany'],
    'mediterranean': ['mediterranean'],
    'japanese': ['japanese', 'japan'],
    'moroccan': ['moroccan'],
    'southern_soul_food': ['southern_soulfood'],
    'english_scottish': ['english_scottish', 'uk-and-ireland', 'england', 'scotland'],
    'asian': ['asian'],
    'southwestern': ['southwestern'],
    'east_asian': ['east_asian'],
    'western': ['western'],
    'korean': ['korean', 'korea'],
    'canadian': ['canada'],
    'caribbean': ['caribbean'],
    'bangladeshi': ['bangladesh'],
    'israeli': ['israel'],
    'iranian': ['iran'],
    'south_african': ['south-african'],
    'belgian': ['belgium'],
    'spanish': ['spain'],
    'dutch': ['netherlands'],
    'filipino': ['philippines'],
    'indonesian': ['indonesia'],
    'east_african': ['east-african'],
    'swiss': ['switzerland'],
    'west_african': ['west-african'],
    'north_african': ['north-african'],
    'pakistani': ['pakistan'],
    'portuguese': ['portugal'],
    'malaysian': ['malaysia'],
    'austrian': ['austria']
}

# Reverse the mapping for easier lookup
cuisine_lookup = {alias: cuisine for cuisine, aliases in cuisine_mapping.items() for alias in aliases}



# Create a dictionary from the mapping DataFrame
country_to_region = dict(zip(mapping['country'].str.lower().str.replace(' ', '_'), mapping['region'].str.lower().str.replace(' ', '_')))

# Explicitly format region names
def format_region_name(region):
    if pd.isna(region):
        return 'unknown'
    formatted_region = region.replace('southeastasian', 'south_east_asian') \
        .replace('southasian', 'south_asian') \
        .replace('southerneuropean', 'southern_european') \
        .replace('middleeastern', 'middle_eastern') \
        .replace('westerneuropean', 'western_european') \
        .replace('latinamerican', 'latin_american') \
        .replace('northamerican', 'north_american') \
        .replace('northerneuropean', 'northern_european') \
        .replace('easterneuropean', 'eastern_european') \
        .replace('eastasian', 'east_asian')
    return formatted_region

# Function to standardize country names and map to region
def standardize_and_map_region(country):
    if pd.isna(country):
        return 'unknown', 'unknown'
    country_lower = str(country).lower().replace(' ', '_')
    standardized_country = cuisine_lookup.get(country_lower, country_lower)
    region = country_to_region.get(standardized_country, 'unknown')
    return standardized_country, format_region_name(region)


# Apply the function to create new columns
ingredients_df[['country', 'region']] = ingredients_df['country'].apply(lambda x: pd.Series(standardize_and_map_region(x)))

# Move the 'region' column to the beginning
columns = ['region'] + [col for col in ingredients_df if col != 'region']
ingredients_df = ingredients_df[columns]'''

In [103]:
ingredients_df.replace({'Yes': 1, 'No': 0}, inplace=True)

/var/folders/sx/vzszgjy10_z93jmql4144jnm0000gn/T/ipykernel_63885/1972706610.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  ingredients_df.replace({'Yes': 1, 'No': 0}, inplace=True)

In [65]:
ingredients_df

,region,country,almond,angelica,anise,anise_seed,apple,apple_brandy,apricot,armagnac,...,whiskey,white_bread,white_wine,whole_grain_wheat_flour,wine,wood,yam,yeast,yogurt,zucchini
0,south_east_asian,vietnamese,No,No,No,No,No,No,No,No,...,No,No,No,No,No,No,No,No,No,No
1,south_east_asian,vietnamese,No,No,No,No,No,No,No,No,...,No,No,No,No,No,No,No,No,No,No
2,south_east_asian,vietnamese,No,No,No,No,No,No,No,No,...,No,No,No,No,No,No,No,No,No,No
3,south_east_asian,vietnamese,No,No,No,No,No,No,No,No,...,No,No,No,No,No,No,No,No,No,No
4,south_east_asian,vietnamese,No,No,No,No,No,No,No,No,...,No,No,No,No,No,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57686,east_asian,japanese,No,No,No,No,No,No,No,No,...,No,No,No,No,No,No,No,No,No,No
57687,east_asian,japanese,No,No,No,No,No,No,No,No,...,No,No,No,No,No,No,No,No,No,No
57688,east_asian,japanese,No,No,No,No,No,No,No,No,...,No,No,No,No,No,No,No,No,No,No
57689,east_asian,japanese,No,No,No,No,No,No,No,No,...,No,No,No,No,No,No,No,No,No,No
57690,east_asian,japanese,No,No,No,No,No,No,No,No,...,No,No,No,No,No,No,No,No,No,No

In [13]:
ingr_small = ingredients_df.columns.copy()

In [14]:
ingr_small = pd.DataFrame(data=ingr_small)

In [15]:
# Assign column names if necessary
ingr_small.columns = ['ingredient_name']

# Drop rows that contain 'region' or 'country'
ingr_small = ingr_small[~ingr_small['ingredient_name'].isin(['region', 'country'])]

# Add ingredient_id column
ingr_small.insert(0, 'ingredient_id', range(1, 1 + len(ingr_small)))

# Print the cleaned DataFrame
print(ingr_small)

     ingredient_id ingredient_name
2                1          almond
3                2        angelica
4                3           anise
5                4      anise_seed
6                5           apple
..             ...             ...
380            379            wood
381            380             yam
382            381           yeast
383            382          yogurt
384            383        zucchini

[383 rows x 2 columns]

In [16]:
ingr_small['ingredient_name'] = ingr_small['ingredient_name'].apply(replace_spaces)

In [66]:
# Function to replace ingredient IDs
def replace_ingredient_id(ingr_small, ingr_df):
    # Create a dictionary for quick lookup of ingredient_id by ingredient_name
    ingr_dict = pd.Series(ingr_df.ingredient_id.values, index=ingr_df.ingredient_name).to_dict()

    # Function to replace ingredient_id if ingredient_name matches
    def replace_id(row):
        ingredient_name = row['ingredient_name']
        if ingredient_name in ingr_dict:
            row['ingredient_id'] = ingr_dict[ingredient_name]
        return row

    # Apply the function to each row in ingr_small
    ingr_small = ingr_small.apply(replace_id, axis=1)

    return ingr_small

# Apply the function
ingr_small = replace_ingredient_id(ingr_small, ingr_df)

# Verify the changes
print(ingr_small.head())

   ingredient_id ingredient_name  906  861  673  278  171  387  165  1099  \
2             18          almond    0    0    0    0    0    0    0     0
3            725        angelica    0    0    1    0    0    0    0     0
4            707           anise    0    0    1    0    0    0    1     0
5            395      anise_seed    0    0    0    0    0    0    0     0
6           1197           apple    0    0    0    1    0    0    0     0

   ...  237  169  23  310  653  966  752  497  754  count_ones
2  ...    0    0   0    0    0    0    0    0    0           9
3  ...    0    0   0    0    0    0    0    0    0           4
4  ...    0    0   0    0    0    0    0    0    0          17
5  ...    0    0   0    0    0    0    0    0    0           2
6  ...    0    0   0    0    0    0    0    0    0         195

[5 rows x 1110 columns]

In [18]:
ingr_small_def = ingr_small.copy()

In [19]:
comp_df

      compound_id                          compound_name  CAS_number
0               0                                jasmone    488-10-8
1               1                  5-methylhexanoic_acid    628-46-6
2               2                            l-glutamine     56-85-9
3               3  1-methyl-3-methoxy-4-isopropylbenzene   1076-56-8
4               4              methyl-3-phenylpropionate    103-25-3
...           ...                                    ...         ...
1102         1102                             2-heptanol    543-49-7
1103         1103                  1-octen-3-yl_butyrate  16491-54-6
1104         1104                               guaiacol     90-05-1
1105         1105        (+/?)-methyl_5-acetoxyhexanoate  35234-22-1
1106         1106                          ethyl_sorbate   2396-84-1

[1107 rows x 3 columns]

In [20]:
ingr_comp_merge = ingr_comp_df.copy()

In [21]:
ingr_comp_merge.compound_id = ingr_comp_merge.compound_id.astype(str)

In [22]:
ingr_small['ingredient_id'] = ingr_small['ingredient_id'].astype(str)
ingr_comp_df['ingredient_id'] = ingr_comp_df['ingredient_id'].astype(str)
ingr_comp_df['compound_id'] = ingr_comp_df['compound_id'].astype(str)

# Convert column names in ingr_small to strings
ingr_small.columns = ingr_small.columns.astype(str)

# Get the unique compound_ids in ingr_comp_df
compound_id_list = ingr_comp_df['compound_id'].unique()

# Create a DataFrame to hold the new columns with initial values set to 0
new_columns_df = pd.DataFrame(0, index=ingr_small.index, columns=compound_id_list)

# Concatenate the new columns to ingr_small
ingr_small = pd.concat([ingr_small, new_columns_df], axis=1)

# Iterate through ingr_comp_df and update the values in ingr_small
for index, row in ingr_comp_df.iterrows():
    ingredient_id = row['ingredient_id']
    compound_id = row['compound_id']
    if ingredient_id in ingr_small['ingredient_id'].values:
        ingr_small.loc[ingr_small['ingredient_id'] == ingredient_id, compound_id] = 1

# Verify the result
print(ingr_small.head())

  ingredient_id ingredient_name  906  861  673  278  171  387  165  1099  ...  \
2            18          almond    0    0    0    0    0    0    0     0  ...
3           725        angelica    0    0    1    0    0    0    0     0  ...
4           707           anise    0    0    1    0    0    0    1     0  ...
5           395      anise_seed    0    0    0    0    0    0    0     0  ...
6          1197           apple    0    0    0    1    0    0    0     0  ...

   722  237  169  23  310  653  966  752  497  754
2    0    0    0   0    0    0    0    0    0    0
3    0    0    0   0    0    0    0    0    0    0
4    0    0    0   0    0    0    0    0    0    0
5    0    0    0   0    0    0    0    0    0    0
6    0    0    0   0    0    0    0    0    0    0

[5 rows x 1109 columns]

In [23]:
ingr_small.shape

(383, 1109)

In [24]:
compound_id_cols = [col for col in ingr_small.columns if col not in ['ingredient_id', 'ingredient_name']]

In [25]:
ingr_small['count_ones'] = ingr_small[compound_id_cols].sum(axis=1)

In [26]:
ingr_comp_df

      ingredient_id compound_id
0              1392         906
1              1259         861
2              1079         673
3                22         906
4               103         906
...             ...         ...
36776           876         657
36777           637         461
36778           689         650
36779           689         297
36780          1080          13

[36781 rows x 2 columns]

In [27]:
# Group by 'ingredient_id' and aggregate 'compound_id' into a list
comp_per_ingr = ingr_comp_df.groupby('ingredient_id')['compound_id'].apply(list).reset_index()
ingr_per_comp = ingr_comp_df.groupby('compound_id')['ingredient_id'].apply(list).reset_index()

In [28]:
ingr_per_comp.sort_values(by='compound_id', ascending=False, inplace=True)

In [29]:
print(ingr_comp_df.compound_id.unique())

['906' '861' '673' ... '752' '497' '754']

In [30]:
ingr_per_comp.shape

(1107, 2)

In [31]:
comp_per_ingr

     ingredient_id                                        compound_id
0                0                                              [995]
1                1                                              [921]
2               10                                              [715]
3              100                                             [1011]
4             1000  [764, 275, 630, 1046, 285, 84, 482, 772, 686, ...
...            ...                                                ...
1520           995                                              [996]
1521           996                                              [894]
1522           997                                              [828]
1523           998                                      [25, 317, 86]
1524           999                                             [1029]

[1525 rows x 2 columns]

In [32]:
ingr_small

,ingredient_id,ingredient_name,906,861,673,278,171,387,165,1099,...,237,169,23,310,653,966,752,497,754,count_ones
2,18,almond,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,9
3,725,angelica,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
4,707,anise,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,17
5,395,anise_seed,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
6,1197,apple,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,195
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,1396,wood,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,8
381,705,yam,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
382,407,yeast,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,3
383,230,yogurt,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,37
384,1080,zucchini,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [33]:
ingr_small['ingredient_name'] = ingr_small['ingredient_name'].astype(str)

In [34]:
ingredient_cols = ingredients_df.columns.copy()

In [35]:
ingredient_cols

Index(['region', 'country', 'almond', 'angelica', 'anise', 'anise_seed',
       'apple', 'apple_brandy', 'apricot', 'armagnac',
       ...
       'whiskey', 'white_bread', 'white_wine', 'whole_grain_wheat_flour',
       'wine', 'wood', 'yam', 'yeast', 'yogurt', 'zucchini'],
      dtype='object', length=385)

In [36]:
ingr_small

,ingredient_id,ingredient_name,906,861,673,278,171,387,165,1099,...,237,169,23,310,653,966,752,497,754,count_ones
2,18,almond,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,9
3,725,angelica,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
4,707,anise,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,17
5,395,anise_seed,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
6,1197,apple,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,195
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,1396,wood,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,8
381,705,yam,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
382,407,yeast,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,3
383,230,yogurt,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,37
384,1080,zucchini,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [37]:
ingr_small["ingredient_name"]

2          almond
3        angelica
4           anise
5      anise_seed
6           apple
          ...
380          wood
381           yam
382         yeast
383        yogurt
384      zucchini
Name: ingredient_name, Length: 383, dtype: object

In [38]:
ingr_small_mapping = ingr_small['ingredient_name']

In [39]:
ingr_small_mapping

2          almond
3        angelica
4           anise
5      anise_seed
6           apple
          ...
380          wood
381           yam
382         yeast
383        yogurt
384      zucchini
Name: ingredient_name, Length: 383, dtype: object

In [40]:
ingr_small_mapping = pd.concat([ingr_small_mapping, ingr_small['ingredient_id']], axis=1)

In [41]:
ingredients_df.columns = ingredients_df.columns.astype(str)

In [42]:
ingr_small_mapping

    ingredient_name ingredient_id
2            almond            18
3          angelica           725
4             anise           707
5        anise_seed           395
6             apple          1197
..              ...           ...
380            wood          1396
381             yam           705
382           yeast           407
383          yogurt           230
384        zucchini          1080

[383 rows x 2 columns]

In [43]:
ingredient_name_to_id = dict(zip(ingr_small_mapping['ingredient_name'], ingr_small_mapping['ingredient_id']))

In [44]:
ingredient_name_to_id

{'almond': '18',
 'angelica': '725',
 'anise': '707',
 'anise_seed': '395',
 'apple': '1197',
 'apple_brandy': '761',
 'apricot': '1120',
 'armagnac': '190',
 'artemisia': '1504',
 'artichoke': '1251',
 'asparagus': '1174',
 'avocado': '94',
 'bacon': '19',
 'baked_potato': '261',
 'balm': '1416',
 'banana': '918',
 'barley': '1281',
 'bartlett_pear': '330',
 'basil': '256',
 'bay': '215',
 'bean': '1348',
 'beech': '357',
 'beef': '248',
 'beef_broth': '512',
 'beef_liver': '1115',
 'beer': '1495',
 'beet': '255',
 'bell_pepper': '1292',
 'bergamot': '778',
 'berry': '609',
 'bitter_orange': '92',
 'black_bean': '1478',
 'black_currant': '1026',
 'black_mustard_seed_oil': '15',
 'black_pepper': '7',
 'black_raspberry': '1375',
 'black_sesame_seed': '118',
 'black_tea': '908',
 'blackberry': '676',
 'blackberry_brandy': '924',
 'blue_cheese': '994',
 'blueberry': '46',
 'bone_oil': '1322',
 'bourbon_whiskey': '1351',
 'brandy': '737',
 'brassica': '598',
 'bread': '105',
 'broccoli': '1421',
 'brown_rice': '647',
 'brussels_sprout': '746',
 'buckwheat': '1193',
 'butter': '298',
 'buttermilk': '1008',
 'cabbage': '1237',
 'cabernet_sauvignon_wine': '1157',
 'cacao': '369',
 'camembert_cheese': '401',
 'cane_molasses': '544',
 'caraway': '383',
 'cardamom': '1233',
 'carnation': '284',
 'carob': '441',
 'carrot': '1216',
 'cashew': '1519',
 'cassava': '531',
 'catfish': '639',
 'cauliflower': '1370',
 'caviar': '1494',
 'cayenne': '663',
 'celery': '202',
 'celery_oil': '16',
 'cereal': '151',
 'chamomile': '198',
 'champagne_wine': '1474',
 'chayote': '61',
 'cheddar_cheese': '137',
 'cheese': '525',
 'cherry': '309',
 'cherry_brandy': '386',
 'chervil': '271',
 'chicken': '1338',
 'chicken_broth': '875',
 'chicken_liver': '682',
 'chickpea': '496',
 'chicory': '1035',
 'chinese_cabbage': '1109',
 'chive': '698',
 'cider': '1269',
 'cilantro': '658',
 'cinnamon': '439',
 'citrus': '1261',
 'citrus_peel': '110',
 'clam': '674',
 'clove': '1320',
 'cocoa': '1488',
 'coconut': '545',
 'coconut_oil': '489',
 'cod': '238',
 'coffee': '631',
 'cognac': '314',
 'concord_grape': '898',
 'condiment': '1511',
 'coriander': '1267',
 'corn': '427',
 'corn_flake': '430',
 'corn_grit': '931',
 'cottage_cheese': '69',
 'crab': '1204',
 'cranberry': '1481',
 'cream': '724',
 'cream_cheese': '1117',
 'cucumber': '1044',
 'cumin': '579',
 'cured_pork': '1390',
 'currant': '419',
 'date': '483',
 'dill': '1125',
 'durian': '830',
 'eel': '328',
 'egg': '848',
 'egg_noodle': '767',
 'elderberry': '983',
 'emmental_cheese': '1148',
 'endive': '671',
 'enokidake': '824',
 'fennel': '196',
 'fenugreek': '1415',
 'feta_cheese': '1422',
 'fig': '98',
 'fish': '878',
 'flower': '883',
 'frankfurter': '422',
 'fruit': '643',
 'galanga': '316',
 'gardenia': '1142',
 'garlic': '136',
 'gelatin': '481',
 'geranium': '1161',
 'gin': '351',
 'ginger': '164',
 'goat_cheese': '169',
 'grape': '399',
 'grape_brandy': '408',
 'grape_juice': '219',
 'grapefruit': '254',
 'green_bell_pepper': '1114',
 'green_tea': '1527',
 'gruyere_cheese': '923',
 'guava': '781',
 'haddock': '925',
 'ham': '236',
 'hazelnut': '152',
 'herring': '809',
 'holy_basil': '1063',
 'honey': '64',
 'hop': '72',
 'horseradish': '1060',
 'huckleberry': '308',
 'jamaican_rum': '623',
 'japanese_plum': '1508',
 'jasmine': '33',
 'jasmine_tea': '25',
 'juniper_berry': '873',
 'kaffir_lime': '1141',
 'kale': '303',
 'katsuobushi': '857',
 'kelp': '257',
 'kidney_bean': '759',
 'kiwi': '929',
 'kohlrabi': '1232',
 'kumquat': '1062',
 'lamb': '1221',
 'lard': '1086',
 'laurel': '976',
 'lavender': '20',
 'leaf': '1465',
 'leek': '376',
 'lemon': '1132',
 'lemon_juice': '390',
 'lemon_peel': '231',
 'lemongrass': '882',
 'lentil': '1276',
 'lettuce': '141',
 'licorice': '147',
 'lilac_flower_oil': '1512',
 'lima_bean': '756',
 'lime': '1199',
 'lime_juice': '243',
 'lime_peel_oil': '1503',
 'lingonberry': '336',
 'litchi': '30',
 'liver': '1015',
 'lobster': '679',
 'long_pepper': '965',
 'lovage': '1446',
 'macadamia_nut': '184',
 'macaroni': '638',
 'mace': '943',
 'mackerel': '3',
 'malt': '823',
 'mandarin': '590',
 'mandarin_peel': '1482',
 'mango': '486',
 'maple_syrup': '35',
 'marjoram': '1379',
 'mate': '1280',
 'matsutake': '1334',
 'meat': '107',
 'melon': '404',
 'milk': '396',
 'milk_fat': '200',
 'mint': '166',
 'mozzarella_cheese': '1235',
 'mung_bean': '204',
 'munster_cheese': '1529',
 'muscat_grape': '846',
 'mushroom': '260',
 'mussel': '1195',
 'mustard': '1140',
 'mutton': '586',
 'nectarine': '572',
 'nira': '1436',
 'nut': '221',
 'nutmeg': '1356',
 'oat': '1435',
 'oatmeal': '1098',
 'octopus': '342',
 'okra': '327',
 'olive': '466',
 'olive_oil': '998',
 'onion': '1447',
 'orange': '1257',
 'orange_flower': '912',
 'orange_juice': '88',
 'orange_peel': '302',
 'oregano': '1382',
 'ouzo': '1170',
 'oyster': '944',
 'palm': '1083',
 'papaya': '289',
 'parmesan_cheese': '1401',
 'parsley': '251',
 'parsnip': '1297',
 'passion_fruit': '630',
 'pea': '1088',
 'peach': '1133',
 'peanut': '1160',
 'peanut_butter': '9',
 'peanut_oil': '1250',
 'pear': '735',
 'pear_brandy': '1001',
 'pecan': '51',
 'pelargonium': '1095',
 'pepper': '1471',
 'peppermint': '1121',
 'peppermint_oil': '1196',
 'pimenta': '1046',
 'pimento': '1045',
 'pineapple': '187',
 'pistachio': '695',
 'plum': '338',
 'popcorn': '1194',
 'porcini': '750',
 'pork': '417',
 'pork_liver': '1403',
 'pork_sausage': '1238',
 'port_wine': '548',
 'potato': '385',
 'potato_chip': '1022',
 'prawn': '114',
 'prickly_pear': '1373',
 'provolone_cheese': '1003',
 'pumpkin': '575',
 'quince': '889',
 'radish': '444',
 'raisin': '133',
 'rapeseed': '381',
 'raspberry': '1094',
 'raw_beef': '858',
 'red_algae': '1007',
 'red_bean': '17',
 'red_kidney_bean': '633',
 'red_wine': '619',
 'rhubarb': '1224',
 'rice': '205',
 'roasted_almond': '729',
 'roasted_beef': '258',
 'roasted_hazelnut': '124',
 'roasted_meat': '589',
 'roasted_nut': '886',
 'roasted_peanut': '587',
 'roasted_pecan': '1258',
 'roasted_pork': '1054',
 'roasted_sesame_seed': '93',
 'romano_cheese': '1298',
 'root': '437',
 'roquefort_cheese': '804',
 'rose': '661',
 'rosemary': '112',
 'rum': '1089',
 'rutabaga': '1201',
 'rye_bread': '567',
 'rye_flour': '516',
 'saffron': '1134',
 'sage': '194',
 'sake': '455',
 'salmon': '940',
 'salmon_roe': '646',
 'sassafras': '1372',
 'sauerkraut': '716',
 'savory': '100',
 'scallion': '915',
 'scallop': '1000',
 'sea_algae': '1123',
 'seaweed': '1336',
 'seed': '165',
 'sesame_oil': '127',
 'sesame_seed': '1412',
 'shallot': '1305',
 'sheep_cheese': '211',
 'shellfish': '199',
 'sherry': '934',
 'shiitake': '249',
 'shrimp': '694',
 'smoke': '37',
 'smoked_fish': '861',
 'smoked_salmon': '1096',
 'smoked_sausage': '57',
 'sour_cherry': '1337',
 'sour_milk': '207',
 'soy_sauce': '1183',
 'soybean': '41',
 'soybean_oil': '945',
 'spearmint': '467',
 'squash': '620',
 'squid': '1407',
 'star_anise': '1523',
 'starch': '1344',
 'strawberry': '717',
 'strawberry_jam': '373',
 'strawberry_juice': '1143',
 'sturgeon_caviar': '1497',
 'sumac': '1048',
 'sunflower_oil': '391',
 'sweet_potato': '117',
 'swiss_cheese': '696',
 'tabasco_pepper': '614',
 'tamarind': '142',
 'tangerine': '1208',
 'tarragon': '1182',
 'tea': '775',
 'tequila': '193',
 'thai_pepper': '406',
 'thyme': '675',
 'tomato': '1240',
 'tomato_juice': '97',
 'truffle': '1469',
 'tuna': '296',
 'turkey': '616',
 'turmeric': '849',
 'turnip': '116',
 'vanilla': '1399',
 'veal': '652',
 'vegetable': '285',
 'vegetable_oil': '1113',
 'vinegar': '1012',
 'violet': '547',
 'walnut': '1255',
 'wasabi': '867',
 'watercress': '180',
 'watermelon': '210',
 'wheat': '1179',
 'wheat_bread': '1152',
 'whiskey': '361',
 'white_bread': '703',
 'white_wine': '1428',
 'whole_grain_wheat_flour': '1278',
 'wine': '84',
 'wood': '1396',
 'yam': '705',
 'yeast': '407',
 'yogurt': '230',
 'zucchini': '1080'}

In [91]:
new_columns = []

# Iterate over the current columns and replace ingredient names with IDs, formatted as ingr_{ingredient_id}
for col in ingredients_df.columns:
    if col in ['region', 'country']:  # Keep these columns as is
        new_columns.append(col)
    else:
        # Replace ingredient names with their corresponding IDs and format as ingr_{ingredient_id}
        ingredient_id = ingredient_name_to_id.get(col, col)
        new_columns.append(f'{ingredient_id}')

In [92]:
ingredients_df.columns = new_columns

In [93]:
ingredients_df

,region,country,18,725,707,395,1197,761,1120,190,...,361,703,1428,1278,84,1396,705,407,230,1080
0,south_east_asian,vietnamese,No,No,No,No,No,No,No,No,...,No,No,No,No,No,No,No,No,No,No
1,south_east_asian,vietnamese,No,No,No,No,No,No,No,No,...,No,No,No,No,No,No,No,No,No,No
2,south_east_asian,vietnamese,No,No,No,No,No,No,No,No,...,No,No,No,No,No,No,No,No,No,No
3,south_east_asian,vietnamese,No,No,No,No,No,No,No,No,...,No,No,No,No,No,No,No,No,No,No
4,south_east_asian,vietnamese,No,No,No,No,No,No,No,No,...,No,No,No,No,No,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57686,east_asian,japanese,No,No,No,No,No,No,No,No,...,No,No,No,No,No,No,No,No,No,No
57687,east_asian,japanese,No,No,No,No,No,No,No,No,...,No,No,No,No,No,No,No,No,No,No
57688,east_asian,japanese,No,No,No,No,No,No,No,No,...,No,No,No,No,No,No,No,No,No,No
57689,east_asian,japanese,No,No,No,No,No,No,No,No,...,No,No,No,No,No,No,No,No,No,No
57690,east_asian,japanese,No,No,No,No,No,No,No,No,...,No,No,No,No,No,No,No,No,No,No

In [96]:
ingredients_df.to_csv('data/ingredients_df_n.csv', index=False)

In [71]:
ingredients_df

TypeError: unhashable type: 'set'

TypeError: unhashable type: 'set'

In [49]:
comp_df['compound_name'] = comp_df['compound_name'].astype(str)

In [50]:
comp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1107 entries, 0 to 1106
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   compound_id    1107 non-null   int64
 1   compound_name  1107 non-null   object
 2   CAS_number     1107 non-null   object
dtypes: int64(1), object(2)
memory usage: 26.1+ KB

In [51]:
sparse_matrix

NameError: name 'sparse_matrix' is not defined

In [ ]:
# Convert to dense vectors
dense_vectors = sparse_matrix.todense()

# Create a DataFrame for easy handling
dense_df = pd.DataFrame(dense_vectors)

In [ ]:
# Function to get vectors from the dense matrix
def get_ingredient_vectors(dense_matrix):
    ingredient_vectors = dense_matrix.values  # Convert DataFrame to numpy array
    return ingredient_vectors

# Get ingredient vectors
ingredient_vectors = get_ingredient_vectors(dense_df)

In [ ]:
dense_df

In [ ]:
dense_df.T

In [ ]:
mother_matrix = dense_df.dot(dense_df.T)

In [ ]:
mother_matrix = mother_matrix.astype(int)

In [ ]:
mother_matrix

In [ ]:
dense_df.dot(query_vector)

In [ ]:
ingredients_df.to_csv('data/ingredients_df.csv', index=False)

In [ ]:
# Function to get column names where the row has 1s
def get_ingredients(row):
    return [re.findall(r'\d+', col)[0] for col in ingredients_df.columns if row[col] == 1]

# Apply the function to each row
ingredients_df['ingredient_list'] = ingredients_df.apply(get_ingredients, axis=1)

In [ ]:
print(ingredients_df['ingredient_list'])

In [ ]:
ingredients_df.head()

In [ ]:
ingredients_slised =ingredients_df[['country', 'region', 'ingredient_list']].copy()

In [ ]:
ingredients_slised.head()

In [ ]:
comp_per_ingr

In [ ]:
#Function to get compound list for each ingredient in the ingredient list
def add_compound_to_recipe(row):
    compound_list = []
    for ingredient in row['ingredient_list']:
        compounds = comp_per_ingr.loc[comp_per_ingr['ingredient_id'] == ingredient, 'compound_id']
        if not compounds.empty:
            compound_list.extend(compounds.values[0])
    return compound_list

# Apply the function to each row
ingredients_slised['compound_list'] = ingredients_slised.apply(add_compound_to_recipe, axis=1)

In [ ]:
ingredients_slised

In [ ]:
ingredients_df.head()